<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
</head>

<div style="text-align:center">
  <h1 class="mat-display-3 animated fadeIn">¡Bienvenid@ a VetProject!</h1>
</div>

<div class="example-container">
  <h1>
    Instrucciones de uso
  </h1>

  <mat-list>
    <mat-list-item>
      <p>
        Para empezar, debe registrar a los clientes (humanos) en la pestaña <b>Clientes</b>.
      </p>
    </mat-list-item>
    <mat-list-item>
      <p>
        A continuación, podrá ingresar a los pacientes (mascotas) en la pestaña <b>Pacientes</b>.
      </p>
    </mat-list-item>
    <mat-list-item>
      <p>
        Puede hacer uso del buscador para encontrar de manera más rápida a los <b>Pacientes</b>.
      </p>
    </mat-list-item>
    <mat-list-item>
      <p>
        En caso de querer eliminar un Cliente de su lista, primero deberá eliminar a la mascota asociada al mismo.
      </p>
    </mat-list-item>
  </mat-list>

</div>